extends layout
block content
        .adv-block-wrapper.big-content-wrapper
            .fadeLeft
            .fadeRight
            .event_bg.h350
        h2.event-main-header
            .container.posRel
                | Reebok Crossfit Games 2014
                .event-main-date 14.02.15
        .container
            .row.padTop30
                .col-md-12
                    p
                        strong Для участников:
                    ul.event-page-header-info
                        li Стоимость платная 300 рублей
                        li 45% собранных средств пойдет на призовой фонд
                        li
                            | Вне зависимости от сдачи в аффилированном клубе или не аффиляте ВИДЕО ОБЯЗАТЕЛЬНО!
                        li Сдача первого комплекса продлена и составляет не 5 дней, а 7.
                        li
                            | Правидло 5 "no rep" для топовых результатов. п.7.4.
                            a(href='http://cfft.ru/opens/5/reglament') Регламента
                            |  соревнований
            hr
            div(role='tabpanel')
                ul.nav.nav-tabs(role='tablist')
                    li.active(role='presentation')
                        a(href='#week1', aria-controls='week1', role='tab', data-toggle='tab', aria-expanded='true') Первая неделя
                    li(role='presentation')
                        a(href='#week2', aria-controls='week2', role='tab', data-toggle='tab', aria-expanded='false') Вторая неделя
                    li(role='presentation')
                        a(href='#week3', aria-controls='week3', role='tab', data-toggle='tab', aria-expanded='false') Третья неделя
                    li(role='presentation')
                        a(href='#week4', aria-controls='week4', role='tab', data-toggle='tab', aria-expanded='false') Четвертая неделя
                .tab-content
                    #week1.tab-pane.active(role='tabpanel')
                        .row
                            .col-md-8
                                h3
                                    | Первая неделя
                                    .event-part-date
                                        i.fa.fa-calendar
                                        |  14.02.15 - 21.02.15
                            .col-md-4
                                .sBtn.flRight.red.order-event-part(data-event='Reebok Crossfit Games 2014', data-event_id='3', data-event_part='Первая неделя', data-event_part_id='1')
                                    i.fa.fa-paper-plane-o
                                    |   Подать заявку
                        .innerTabParent(role='tabpanel')
                            ul.nav.nav-tabs(role='tablist')
                                li.active(role='presentation')
                                    a(href='#rules', aria-controls='rules', role='tab', data-toggle='tab', aria-expanded='true') Правила
                                li(role='presentation')
                                    a(href='#results', aria-controls='results', role='tab', data-toggle='tab', aria-expanded='false') Предварительные результаты
                            .tab-content
                                #rules.tab-pane.active(role='tabpanel')
                                    .row.padTop30
                                        .col-md-12
                                            .col-md-6
                                                p
                                                    span#ytplayer0.video(data-plugin='youtube', data-video='Mfweborai0o')
                                                        iframe#ytplayer0Frame(frameborder='0', allowfullscreen='1', title='YouTube video player', width='100%', height='250', src='https://www.youtube.com/embed/Mfweborai0o?enablejsapi=1&origin=http%3A%2F%2Fcfft.ru')
                                                h3 Fat Karen
                                                h4 Выполнить на время 150 бросков мяча в цель
                                                p
                                                    em Time cap 7 min
                                                p
                                                    | *Если Вы успеваете выполнить 150 бросков за 7 мин, то Time cap увеличивается на 5 мин.
                                                p Цель набрать как можно больше повторений бросков мяча.
                                            .col-md-6
                                                h3 Броски мяча в цель
                                                p
                                                    | Волл Болл, он же медицинский мяч должен находится на груди в нижней позиции фронтального приседания (ось вращения тазобедренного сустава ниже оси вращения коленного). Из этого положения бросается в цель высота, которой регламентируется Дивизионом. Центр мяча должен коснутся цели или области выше цели. Если мяч не коснулся стены или коснулся области ниже метки, то такое повторение не считается.
                                                p
                                                    em
                                                        | Если мяч упал на пол, то необходимо полностью погасить его скорость и только после этого производить взятие на грудь, то есть нельзя работать в отбив.
                                                h3 Примечания
                                                h4
                                                    | Мужчины
                                                    small включая ветеранов 40+
                                                ul
                                                    li Вес мяча 20 lbs (9 кг), 3 м высота цели
                                                h4
                                                    | Женщины
                                                    small включая ветеранов 40+
                                                ul
                                                    li Вес мяча 14 lbs (6,3 кг), 2.7 м высота цели
                                                h5 Запись результатов производится следующим образом:
                                                ul
                                                    li
                                                        | Если Вы, к примеру, за 7 мин не успели выполнить 150 бросков мяча, а выполнили всего 130, то запись в поле результат будет выглядеть следующим образом: "130(7:00)", без кавычек.
                                                p
                                                    | *Если Вы, к примеру, успели за 7 мин выполнить 150 бросков мяча и время закрытия полной Karen равно 6:45, за 12 мин Вы выполнили 200 повторений, то запись в поле результат будет выглядеть следующим образом: "200(6:45)", без кавычек
                                #results.tab-pane(role='tabpanel')
                                    .row.padTop30
                                        .col-md-12
                                            .col-md-3
                                                .form-group
                                                    label Страна:
                                                    #s2id_autogen1.select2-container.form-control
                                                        a.select2-choice(href='javascript:void(0)', tabindex='-1')
                                                            span#select2-chosen-2.select2-chosen Россия
                                                            abbr.select2-search-choice-close
                                                            span.select2-arrow(role='presentation')
                                                                b(role='presentation')
                                                        label.select2-offscreen(for='s2id_autogen2')
                                                        input#s2id_autogen2.select2-focusser.select2-offscreen(type='text', aria-haspopup='true', role='button', aria-labelledby='select2-chosen-2')
                                                        .select2-drop.select2-display-none.select2-with-searchbox
                                                            .select2-search
                                                                label.select2-offscreen(for='s2id_autogen2_search')
                                                                input#s2id_autogen2_search.select2-input(type='text', autocomplete='off', autocorrect='off', autocapitalize='off', spellcheck='false', role='combobox', aria-expanded='true', aria-autocomplete='list', aria-owns='select2-results-2', placeholder='')
                                                            ul#select2-results-2.select2-results(role='listbox')
                                                    select.form-control(tabindex='-1', title='', style='display: none;')
                                                        option(value='1') Россия
                                                        option(value='1') Украина
                                                        option(value='1') Белоруссия
                                            .col-md-3
                                                .form-group
                                                    label Город:
                                                    #s2id_autogen3.select2-container.form-control
                                                        a.select2-choice(href='javascript:void(0)', tabindex='-1')
                                                            span#select2-chosen-4.select2-chosen Москва
                                                            abbr.select2-search-choice-close
                                                            span.select2-arrow(role='presentation')
                                                                b(role='presentation')
                                                        label.select2-offscreen(for='s2id_autogen4')
                                                        input#s2id_autogen4.select2-focusser.select2-offscreen(type='text', aria-haspopup='true', role='button', aria-labelledby='select2-chosen-4')
                                                        .select2-drop.select2-display-none.select2-with-searchbox
                                                            .select2-search
                                                                label.select2-offscreen(for='s2id_autogen4_search')
                                                                input#s2id_autogen4_search.select2-input(type='text', autocomplete='off', autocorrect='off', autocapitalize='off', spellcheck='false', role='combobox', aria-expanded='true', aria-autocomplete='list', aria-owns='select2-results-4', placeholder='')
                                                            ul#select2-results-4.select2-results(role='listbox')
                                                    select.form-control(tabindex='-1', title='', style='display: none;')
                                                        option(value='1') Москва
                                                        option(value='1') Санкт-Петербург
                                                        option(value='1') Тверь
                                            .col-md-3
                                                .form-group
                                                    label Клуб:
                                                    #s2id_autogen5.select2-container.form-control
                                                        a.select2-choice(href='javascript:void(0)', tabindex='-1')
                                                            span#select2-chosen-6.select2-chosen Crossfit central
                                                            abbr.select2-search-choice-close
                                                            span.select2-arrow(role='presentation')
                                                                b(role='presentation')
                                                        label.select2-offscreen(for='s2id_autogen6')
                                                        input#s2id_autogen6.select2-focusser.select2-offscreen(type='text', aria-haspopup='true', role='button', aria-labelledby='select2-chosen-6')
                                                        .select2-drop.select2-display-none.select2-with-searchbox
                                                            .select2-search
                                                                label.select2-offscreen(for='s2id_autogen6_search')
                                                                input#s2id_autogen6_search.select2-input(type='text', autocomplete='off', autocorrect='off', autocapitalize='off', spellcheck='false', role='combobox', aria-expanded='true', aria-autocomplete='list', aria-owns='select2-results-6', placeholder='')
                                                            ul#select2-results-6.select2-results(role='listbox')
                                                    select.form-control(tabindex='-1', title='', style='display: none;')
                                                        option(value='1') Crossfit central
                                                        option(value='1') sport unlimited
                                                        option(value='1') xFit
                                            .col-md-3
                                                .form-group
                                                    label Пол:
                                                    #s2id_autogen7.select2-container.form-control
                                                        a.select2-choice(href='javascript:void(0)', tabindex='-1')
                                                            span#select2-chosen-8.select2-chosen Мужской
                                                            abbr.select2-search-choice-close
                                                            span.select2-arrow(role='presentation')
                                                                b(role='presentation')
                                                        label.select2-offscreen(for='s2id_autogen8')
                                                        input#s2id_autogen8.select2-focusser.select2-offscreen(type='text', aria-haspopup='true', role='button', aria-labelledby='select2-chosen-8')
                                                        .select2-drop.select2-display-none.select2-with-searchbox
                                                            .select2-search
                                                                label.select2-offscreen(for='s2id_autogen8_search')
                                                                input#s2id_autogen8_search.select2-input(type='text', autocomplete='off', autocorrect='off', autocapitalize='off', spellcheck='false', role='combobox', aria-expanded='true', aria-autocomplete='list', aria-owns='select2-results-8', placeholder='')
                                                            ul#select2-results-8.select2-results(role='listbox')
                                                    select.form-control(tabindex='-1', title='', style='display: none;')
                                                        option(value='1') Мужской
                                                        option(value='1') Женский
                                    .row.padTop30
                                        .col-md-12
                                            table.table
                                                thead
                                                    tr
                                                        th Место
                                                        th Атлет
                                                        th Результат
                                                        th Видео
                                                tbody
                                                    tr.warning
                                                        th(scope='row')
                                                            span.badge 1
                                                        td Андрей Ганин
                                                        td 5 (246(6:48))
                                                        td
                                                            a(href='watch.html')
                                                                i.fa.fa-video-camera
                                                    tr.success
                                                        th(scope='row')
                                                            span.badge 2
                                                        td Юрий Казаков
                                                        td 3 (266(5:57))
                                                        td
                                                            a(href='watch.html')
                                                                i.fa.fa-video-camera
                                                    tr.info
                                                        th(scope='row')
                                                            span.badge 3
                                                        td Владимир Сайдашев
                                                        td 2 (268(5:49))
                                                        td
                                                            a(href='watch.html')
                                                                i.fa.fa-video-camera
                                                    tr
                                                        th(scope='row') 4
                                                        td Ярощук Александр
                                                        td 14 (240(5:45))
                                                        td
                                                            a(href='watch.html')
                                                                i.fa.fa-video-camera
                                                    tr
                                                        th(scope='row') 5
                                                        td Виталий Виткин
                                                        td 22 (220(6:41))
                                                        td
                                                            a(href='watch.html')
                                                                i.fa.fa-video-camera
                                                    tr
                                                        th(scope='row') 6
                                                        td Алексей Царюк
                                                        td 22 (220(6:41))
                                                        td
                                                            a(href='watch.html')
                                                                i.fa.fa-video-camera
                                                    tr
                                                        th(scope='row') 7
                                                        td Ярощук Александр
                                                        td 14 (240(5:45))
                                                        td
                                                            a(href='watch.html')
                                                                i.fa.fa-video-camera
                                                    tr
                                                        th(scope='row') 8
                                                        td Виталий Виткин
                                                        td 22 (220(6:41))
                                                        td
                                                            a(href='watch.html')
                                                                i.fa.fa-video-camera
                                                    tr
                                                        th(scope='row') 9
                                                        td Алексей Царюк
                                                        td 22 (220(6:41))
                                                        td
                                                            a(href='watch.html')
                                                                i.fa.fa-video-camera
                                                    tr
                                                        th(scope='row') 10
                                                        td Ярощук Александр
                                                        td 14 (240(5:45))
                                                        td
                                                            a(href='watch.html')
                                                                i.fa.fa-video-camera
                                                    tr
                                                        th(scope='row') 11
                                                        td Виталий Виткин
                                                        td 22 (220(6:41))
                                                        td
                                                            a(href='watch.html')
                                                                i.fa.fa-video-camera
                                                    tr
                                                        th(scope='row') 12
                                                        td Алексей Царюк
                                                        td 22 (220(6:41))
                                                        td
                                                            a(href='watch.html')
                                                                i.fa.fa-video-camera
                                                    tr
                                                        th(scope='row') 13
                                                        td Ярощук Александр
                                                        td 14 (240(5:45))
                                                        td
                                                            a(href='watch.html')
                                                                i.fa.fa-video-camera
                                                    tr
                                                        th(scope='row') 14
                                                        td Виталий Виткин
                                                        td 22 (220(6:41))
                                                        td
                                                            a(href='watch.html')
                                                                i.fa.fa-video-camera
                                                    tr
                                                        th(scope='row') 15
                                                        td Алексей Царюк
                                                        td 22 (220(6:41))
                                                        td
                                                            a(href='watch.html')
                                                                i.fa.fa-video-camera
                                            nav
                                                ul.pagination
                                                    li
                                                        a(href='#', aria-label='Previous')
                                                            span(aria-hidden='true') «
                                                    li
                                                        a(href='#') 1
                                                    li
                                                        a(href='#') 2
                                                    li
                                                        a(href='#') 3
                                                    li
                                                        a(href='#') 4
                                                    li
                                                        a(href='#') 5
                                                    li
                                                        a(href='#', aria-label='Next')
                                                            span(aria-hidden='true') »
                    #week2.tab-pane(role='tabpanel')
                        .row
                            .col-md-8
                                h3
                                    | Вторая неделя
                                    .event-part-date
                                        i.fa.fa-calendar
                                        |  22.02.15 - 29.02.15
                            .col-md-4
                                .sBtn.flRight.red.order-event-part(data-event='Reebok Crossfit Games 2014', data-event_id='3', data-event_part='Вторая неделя', data-event_part_id='2')
                                    i.fa.fa-paper-plane-o
                                    |   Подать заявку
                        .innerTabParent(role='tabpanel')
                            ul.nav.nav-tabs(role='tablist')
                                li.active(role='presentation')
                                    a(href='#rules', aria-controls='rules', role='tab', data-toggle='tab', aria-expanded='true') Правила
                                li(role='presentation')
                                    a(href='#results', aria-controls='results', role='tab', data-toggle='tab', aria-expanded='true') Предварительные результаты
                            .tab-content
                                #rules.tab-pane.active(role='tabpanel')
                                    .row.padTop30
                                        .col-md-12
                                            .col-md-6
                                                p
                                                    span#ytplayer0.video(data-plugin='youtube', data-video='Mfweborai0o')
                                                        iframe#ytplayer0Frame(frameborder='0', allowfullscreen='1', title='YouTube video player', width='100%', height='250', src='https://www.youtube.com/embed/Mfweborai0o?enablejsapi=1&origin=http%3A%2F%2Fcfft.ru')
                                                h3 Fat Karen
                                                h4 Выполнить на время 150 бросков мяча в цель
                                                p
                                                    em Time cap 7 min
                                                p
                                                    | *Если Вы успеваете выполнить 150 бросков за 7 мин, то Time cap увеличивается на 5 мин.
                                                p Цель набрать как можно больше повторений бросков мяча.
                                            .col-md-6
                                                h3 Броски мяча в цель
                                                p
                                                    | Волл Болл, он же медицинский мяч должен находится на груди в нижней позиции фронтального приседания (ось вращения тазобедренного сустава ниже оси вращения коленного). Из этого положения бросается в цель высота, которой регламентируется Дивизионом. Центр мяча должен коснутся цели или области выше цели. Если мяч не коснулся стены или коснулся области ниже метки, то такое повторение не считается.
                                                p
                                                    em
                                                        | Если мяч упал на пол, то необходимо полностью погасить его скорость и только после этого производить взятие на грудь, то есть нельзя работать в отбив.
                                                h3 Примечания
                                                h4
                                                    | Мужчины
                                                    small включая ветеранов 40+
                                                ul
                                                    li Вес мяча 20 lbs (9 кг), 3 м высота цели
                                                h4
                                                    | Женщины
                                                    small включая ветеранов 40+
                                                ul
                                                    li Вес мяча 14 lbs (6,3 кг), 2.7 м высота цели
                                                h5 Запись результатов производится следующим образом:
                                                ul
                                                    li
                                                        | Если Вы, к примеру, за 7 мин не успели выполнить 150 бросков мяча, а выполнили всего 130, то запись в поле результат будет выглядеть следующим образом: "130(7:00)", без кавычек.
                                                p
                                                    | *Если Вы, к примеру, успели за 7 мин выполнить 150 бросков мяча и время закрытия полной Karen равно 6:45, за 12 мин Вы выполнили 200 повторений, то запись в поле результат будет выглядеть следующим образом: "200(6:45)", без кавычек
                                #results.tab-pane(role='tabpanel')
                                    .row.padTop30
                                        .col-md-12
                                            .col-md-3
                                                .form-group
                                                    label Страна:
                                                    #s2id_autogen9.select2-container.form-control
                                                        a.select2-choice(href='javascript:void(0)', tabindex='-1')
                                                            span#select2-chosen-10.select2-chosen Россия
                                                            abbr.select2-search-choice-close
                                                            span.select2-arrow(role='presentation')
                                                                b(role='presentation')
                                                        label.select2-offscreen(for='s2id_autogen10')
                                                        input#s2id_autogen10.select2-focusser.select2-offscreen(type='text', aria-haspopup='true', role='button', aria-labelledby='select2-chosen-10')
                                                        .select2-drop.select2-display-none.select2-with-searchbox
                                                            .select2-search
                                                                label.select2-offscreen(for='s2id_autogen10_search')
                                                                input#s2id_autogen10_search.select2-input(type='text', autocomplete='off', autocorrect='off', autocapitalize='off', spellcheck='false', role='combobox', aria-expanded='true', aria-autocomplete='list', aria-owns='select2-results-10', placeholder='')
                                                            ul#select2-results-10.select2-results(role='listbox')
                                                    select.form-control(tabindex='-1', title='', style='display: none;')
                                                        option(value='1') Россия
                                                        option(value='1') Украина
                                                        option(value='1') Белоруссия
                                            .col-md-3
                                                .form-group
                                                    label Город:
                                                    #s2id_autogen11.select2-container.form-control
                                                        a.select2-choice(href='javascript:void(0)', tabindex='-1')
                                                            span#select2-chosen-12.select2-chosen Москва
                                                            abbr.select2-search-choice-close
                                                            span.select2-arrow(role='presentation')
                                                                b(role='presentation')
                                                        label.select2-offscreen(for='s2id_autogen12')
                                                        input#s2id_autogen12.select2-focusser.select2-offscreen(type='text', aria-haspopup='true', role='button', aria-labelledby='select2-chosen-12')
                                                        .select2-drop.select2-display-none.select2-with-searchbox
                                                            .select2-search
                                                                label.select2-offscreen(for='s2id_autogen12_search')
                                                                input#s2id_autogen12_search.select2-input(type='text', autocomplete='off', autocorrect='off', autocapitalize='off', spellcheck='false', role='combobox', aria-expanded='true', aria-autocomplete='list', aria-owns='select2-results-12', placeholder='')
                                                            ul#select2-results-12.select2-results(role='listbox')
                                                    select.form-control(tabindex='-1', title='', style='display: none;')
                                                        option(value='1') Москва
                                                        option(value='1') Санкт-Петербург
                                                        option(value='1') Тверь
                                            .col-md-3
                                                .form-group
                                                    label Клуб:
                                                    #s2id_autogen13.select2-container.form-control
                                                        a.select2-choice(href='javascript:void(0)', tabindex='-1')
                                                            span#select2-chosen-14.select2-chosen Crossfit central
                                                            abbr.select2-search-choice-close
                                                            span.select2-arrow(role='presentation')
                                                                b(role='presentation')
                                                        label.select2-offscreen(for='s2id_autogen14')
                                                        input#s2id_autogen14.select2-focusser.select2-offscreen(type='text', aria-haspopup='true', role='button', aria-labelledby='select2-chosen-14')
                                                        .select2-drop.select2-display-none.select2-with-searchbox
                                                            .select2-search
                                                                label.select2-offscreen(for='s2id_autogen14_search')
                                                                input#s2id_autogen14_search.select2-input(type='text', autocomplete='off', autocorrect='off', autocapitalize='off', spellcheck='false', role='combobox', aria-expanded='true', aria-autocomplete='list', aria-owns='select2-results-14', placeholder='')
                                                            ul#select2-results-14.select2-results(role='listbox')
                                                    select.form-control(tabindex='-1', title='', style='display: none;')
                                                        option(value='1') Crossfit central
                                                        option(value='1') sport unlimited
                                                        option(value='1') xFit
                                            .col-md-3
                                                .form-group
                                                    label Пол:
                                                    #s2id_autogen15.select2-container.form-control
                                                        a.select2-choice(href='javascript:void(0)', tabindex='-1')
                                                            span#select2-chosen-16.select2-chosen Мужской
                                                            abbr.select2-search-choice-close
                                                            span.select2-arrow(role='presentation')
                                                                b(role='presentation')
                                                        label.select2-offscreen(for='s2id_autogen16')
                                                        input#s2id_autogen16.select2-focusser.select2-offscreen(type='text', aria-haspopup='true', role='button', aria-labelledby='select2-chosen-16')
                                                        .select2-drop.select2-display-none.select2-with-searchbox
                                                            .select2-search
                                                                label.select2-offscreen(for='s2id_autogen16_search')
                                                                input#s2id_autogen16_search.select2-input(type='text', autocomplete='off', autocorrect='off', autocapitalize='off', spellcheck='false', role='combobox', aria-expanded='true', aria-autocomplete='list', aria-owns='select2-results-16', placeholder='')
                                                            ul#select2-results-16.select2-results(role='listbox')
                                                    select.form-control(tabindex='-1', title='', style='display: none;')
                                                        option(value='1') Мужской
                                                        option(value='1') Женский
                                    .row.padTop30
                                        .col-md-12
                                            table.table
                                                thead
                                                    tr
                                                        th Место
                                                        th Атлет
                                                        th Результат
                                                        th Видео
                                                tbody
                                                    tr.warning
                                                        th(scope='row')
                                                            span.badge 1
                                                        td Андрей Ганин
                                                        td 5 (246(6:48))
                                                        td
                                                            a(href='watch.html')
                                                                i.fa.fa-video-camera
                                                    tr.success
                                                        th(scope='row')
                                                            span.badge 2
                                                        td Юрий Казаков
                                                        td 3 (266(5:57))
                                                        td
                                                            a(href='watch.html')
                                                                i.fa.fa-video-camera
                                                    tr.info
                                                        th(scope='row')
                                                            span.badge 3
                                                        td Владимир Сайдашев
                                                        td 2 (268(5:49))
                                                        td
                                                            a(href='watch.html')
                                                                i.fa.fa-video-camera
                                                    tr
                                                        th(scope='row') 4
                                                        td Ярощук Александр
                                                        td 14 (240(5:45))
                                                        td
                                                            a(href='watch.html')
                                                                i.fa.fa-video-camera
                                                    tr
                                                        th(scope='row') 5
                                                        td Виталий Виткин
                                                        td 22 (220(6:41))
                                                        td
                                                            a(href='watch.html')
                                                                i.fa.fa-video-camera
                                                    tr
                                                        th(scope='row') 6
                                                        td Алексей Царюк
                                                        td 22 (220(6:41))
                                                        td
                                                            a(href='watch.html')
                                                                i.fa.fa-video-camera
                                                    tr
                                                        th(scope='row') 7
                                                        td Ярощук Александр
                                                        td 14 (240(5:45))
                                                        td
                                                            a(href='watch.html')
                                                                i.fa.fa-video-camera
                                                    tr
                                                        th(scope='row') 8
                                                        td Виталий Виткин
                                                        td 22 (220(6:41))
                                                        td
                                                            a(href='watch.html')
                                                                i.fa.fa-video-camera
                                                    tr
                                                        th(scope='row') 9
                                                        td Алексей Царюк
                                                        td 22 (220(6:41))
                                                        td
                                                            a(href='watch.html')
                                                                i.fa.fa-video-camera
                                                    tr
                                                        th(scope='row') 10
                                                        td Ярощук Александр
                                                        td 14 (240(5:45))
                                                        td
                                                            a(href='watch.html')
                                                                i.fa.fa-video-camera
                                                    tr
                                                        th(scope='row') 11
                                                        td Виталий Виткин
                                                        td 22 (220(6:41))
                                                        td
                                                            a(href='watch.html')
                                                                i.fa.fa-video-camera
                                                    tr
                                                        th(scope='row') 12
                                                        td Алексей Царюк
                                                        td 22 (220(6:41))
                                                        td
                                                            a(href='watch.html')
                                                                i.fa.fa-video-camera
                                                    tr
                                                        th(scope='row') 13
                                                        td Ярощук Александр
                                                        td 14 (240(5:45))
                                                        td
                                                            a(href='watch.html')
                                                                i.fa.fa-video-camera
                                                    tr
                                                        th(scope='row') 14
                                                        td Виталий Виткин
                                                        td 22 (220(6:41))
                                                        td
                                                            a(href='watch.html')
                                                                i.fa.fa-video-camera
                                                    tr
                                                        th(scope='row') 15
                                                        td Алексей Царюк
                                                        td 22 (220(6:41))
                                                        td
                                                            a(href='watch.html')
                                                                i.fa.fa-video-camera
                                            nav
                                                ul.pagination
                                                    li
                                                        a(href='#', aria-label='Previous')
                                                            span(aria-hidden='true') «
                                                    li
                                                        a(href='#') 1
                                                    li
                                                        a(href='#') 2
                                                    li
                                                        a(href='#') 3
                                                    li
                                                        a(href='#') 4
                                                    li
                                                        a(href='#') 5
                                                    li
                                                        a(href='#', aria-label='Next')
                                                            span(aria-hidden='true') »
                    #week3.tab-pane(role='tabpanel')
                        .row
                            .col-md-8
                                h3
                                    | Третья неделя
                                    .event-part-date
                                        i.fa.fa-calendar
                                        |  30.02.15 - 07.03.15
                            .col-md-4
                                .sBtn.flRight.red.order-event-part(data-event='Reebok Crossfit Games 2014', data-event_id='3', data-event_part='Третья неделя', data-event_part_id='3')
                                    i.fa.fa-paper-plane-o
                                    |   Подать заявку
                        .innerTabParent(role='tabpanel')
                            ul.nav.nav-tabs(role='tablist')
                                li.active(role='presentation')
                                    a(href='#rules', aria-controls='rules', role='tab', data-toggle='tab', aria-expanded='true') Правила
                                li(role='presentation')
                                    a(href='#results', aria-controls='results', role='tab', data-toggle='tab', aria-expanded='true') Предварительные результаты
                            .tab-content
                                #rules.tab-pane.active(role='tabpanel')
                                    .row.padTop30
                                        .col-md-12
                                            .col-md-6
                                                p
                                                    span#ytplayer0.video(data-plugin='youtube', data-video='Mfweborai0o')
                                                        iframe#ytplayer0Frame(frameborder='0', allowfullscreen='1', title='YouTube video player', width='100%', height='250', src='https://www.youtube.com/embed/Mfweborai0o?enablejsapi=1&origin=http%3A%2F%2Fcfft.ru')
                                                h3 Fat Karen
                                                h4 Выполнить на время 150 бросков мяча в цель
                                                p
                                                    em Time cap 7 min
                                                p
                                                    | *Если Вы успеваете выполнить 150 бросков за 7 мин, то Time cap увеличивается на 5 мин.
                                                p Цель набрать как можно больше повторений бросков мяча.
                                            .col-md-6
                                                h3 Броски мяча в цель
                                                p
                                                    | Волл Болл, он же медицинский мяч должен находится на груди в нижней позиции фронтального приседания (ось вращения тазобедренного сустава ниже оси вращения коленного). Из этого положения бросается в цель высота, которой регламентируется Дивизионом. Центр мяча должен коснутся цели или области выше цели. Если мяч не коснулся стены или коснулся области ниже метки, то такое повторение не считается.
                                                p
                                                    em
                                                        | Если мяч упал на пол, то необходимо полностью погасить его скорость и только после этого производить взятие на грудь, то есть нельзя работать в отбив.
                                                h3 Примечания
                                                h4
                                                    | Мужчины
                                                    small включая ветеранов 40+
                                                ul
                                                    li Вес мяча 20 lbs (9 кг), 3 м высота цели
                                                h4
                                                    | Женщины
                                                    small включая ветеранов 40+
                                                ul
                                                    li Вес мяча 14 lbs (6,3 кг), 2.7 м высота цели
                                                h5 Запись результатов производится следующим образом:
                                                ul
                                                    li
                                                        | Если Вы, к примеру, за 7 мин не успели выполнить 150 бросков мяча, а выполнили всего 130, то запись в поле результат будет выглядеть следующим образом: "130(7:00)", без кавычек.
                                                p
                                                    | *Если Вы, к примеру, успели за 7 мин выполнить 150 бросков мяча и время закрытия полной Karen равно 6:45, за 12 мин Вы выполнили 200 повторений, то запись в поле результат будет выглядеть следующим образом: "200(6:45)", без кавычек
                                #results.tab-pane(role='tabpanel')
                                    .row.padTop30
                                        .col-md-12
                                            .col-md-3
                                                .form-group
                                                    label Страна:
                                                    #s2id_autogen17.select2-container.form-control
                                                        a.select2-choice(href='javascript:void(0)', tabindex='-1')
                                                            span#select2-chosen-18.select2-chosen Россия
                                                            abbr.select2-search-choice-close
                                                            span.select2-arrow(role='presentation')
                                                                b(role='presentation')
                                                        label.select2-offscreen(for='s2id_autogen18')
                                                        input#s2id_autogen18.select2-focusser.select2-offscreen(type='text', aria-haspopup='true', role='button', aria-labelledby='select2-chosen-18')
                                                        .select2-drop.select2-display-none.select2-with-searchbox
                                                            .select2-search
                                                                label.select2-offscreen(for='s2id_autogen18_search')
                                                                input#s2id_autogen18_search.select2-input(type='text', autocomplete='off', autocorrect='off', autocapitalize='off', spellcheck='false', role='combobox', aria-expanded='true', aria-autocomplete='list', aria-owns='select2-results-18', placeholder='')
                                                            ul#select2-results-18.select2-results(role='listbox')
                                                    select.form-control(tabindex='-1', title='', style='display: none;')
                                                        option(value='1') Россия
                                                        option(value='1') Украина
                                                        option(value='1') Белоруссия
                                            .col-md-3
                                                .form-group
                                                    label Город:
                                                    #s2id_autogen19.select2-container.form-control
                                                        a.select2-choice(href='javascript:void(0)', tabindex='-1')
                                                            span#select2-chosen-20.select2-chosen Москва
                                                            abbr.select2-search-choice-close
                                                            span.select2-arrow(role='presentation')
                                                                b(role='presentation')
                                                        label.select2-offscreen(for='s2id_autogen20')
                                                        input#s2id_autogen20.select2-focusser.select2-offscreen(type='text', aria-haspopup='true', role='button', aria-labelledby='select2-chosen-20')
                                                        .select2-drop.select2-display-none.select2-with-searchbox
                                                            .select2-search
                                                                label.select2-offscreen(for='s2id_autogen20_search')
                                                                input#s2id_autogen20_search.select2-input(type='text', autocomplete='off', autocorrect='off', autocapitalize='off', spellcheck='false', role='combobox', aria-expanded='true', aria-autocomplete='list', aria-owns='select2-results-20', placeholder='')
                                                            ul#select2-results-20.select2-results(role='listbox')
                                                    select.form-control(tabindex='-1', title='', style='display: none;')
                                                        option(value='1') Москва
                                                        option(value='1') Санкт-Петербург
                                                        option(value='1') Тверь
                                            .col-md-3
                                                .form-group
                                                    label Клуб:
                                                    #s2id_autogen21.select2-container.form-control
                                                        a.select2-choice(href='javascript:void(0)', tabindex='-1')
                                                            span#select2-chosen-22.select2-chosen Crossfit central
                                                            abbr.select2-search-choice-close
                                                            span.select2-arrow(role='presentation')
                                                                b(role='presentation')
                                                        label.select2-offscreen(for='s2id_autogen22')
                                                        input#s2id_autogen22.select2-focusser.select2-offscreen(type='text', aria-haspopup='true', role='button', aria-labelledby='select2-chosen-22')
                                                        .select2-drop.select2-display-none.select2-with-searchbox
                                                            .select2-search
                                                                label.select2-offscreen(for='s2id_autogen22_search')
                                                                input#s2id_autogen22_search.select2-input(type='text', autocomplete='off', autocorrect='off', autocapitalize='off', spellcheck='false', role='combobox', aria-expanded='true', aria-autocomplete='list', aria-owns='select2-results-22', placeholder='')
                                                            ul#select2-results-22.select2-results(role='listbox')
                                                    select.form-control(tabindex='-1', title='', style='display: none;')
                                                        option(value='1') Crossfit central
                                                        option(value='1') sport unlimited
                                                        option(value='1') xFit
                                            .col-md-3
                                                .form-group
                                                    label Пол:
                                                    #s2id_autogen23.select2-container.form-control
                                                        a.select2-choice(href='javascript:void(0)', tabindex='-1')
                                                            span#select2-chosen-24.select2-chosen Мужской
                                                            abbr.select2-search-choice-close
                                                            span.select2-arrow(role='presentation')
                                                                b(role='presentation')
                                                        label.select2-offscreen(for='s2id_autogen24')
                                                        input#s2id_autogen24.select2-focusser.select2-offscreen(type='text', aria-haspopup='true', role='button', aria-labelledby='select2-chosen-24')
                                                        .select2-drop.select2-display-none.select2-with-searchbox
                                                            .select2-search
                                                                label.select2-offscreen(for='s2id_autogen24_search')
                                                                input#s2id_autogen24_search.select2-input(type='text', autocomplete='off', autocorrect='off', autocapitalize='off', spellcheck='false', role='combobox', aria-expanded='true', aria-autocomplete='list', aria-owns='select2-results-24', placeholder='')
                                                            ul#select2-results-24.select2-results(role='listbox')
                                                    select.form-control(tabindex='-1', title='', style='display: none;')
                                                        option(value='1') Мужской
                                                        option(value='1') Женский
                                    .row.padTop30
                                        .col-md-12
                                            table.table
                                                thead
                                                    tr
                                                        th Место
                                                        th Атлет
                                                        th Результат
                                                        th Видео
                                                tbody
                                                    tr.warning
                                                        th(scope='row')
                                                            span.badge 1
                                                        td Андрей Ганин
                                                        td 5 (246(6:48))
                                                        td
                                                            a(href='watch.html')
                                                                i.fa.fa-video-camera
                                                    tr.success
                                                        th(scope='row')
                                                            span.badge 2
                                                        td Юрий Казаков
                                                        td 3 (266(5:57))
                                                        td
                                                            a(href='watch.html')
                                                                i.fa.fa-video-camera
                                                    tr.info
                                                        th(scope='row')
                                                            span.badge 3
                                                        td Владимир Сайдашев
                                                        td 2 (268(5:49))
                                                        td
                                                            a(href='watch.html')
                                                                i.fa.fa-video-camera
                                                    tr
                                                        th(scope='row') 4
                                                        td Ярощук Александр
                                                        td 14 (240(5:45))
                                                        td
                                                            a(href='watch.html')
                                                                i.fa.fa-video-camera
                                                    tr
                                                        th(scope='row') 5
                                                        td Виталий Виткин
                                                        td 22 (220(6:41))
                                                        td
                                                            a(href='watch.html')
                                                                i.fa.fa-video-camera
                                                    tr
                                                        th(scope='row') 6
                                                        td Алексей Царюк
                                                        td 22 (220(6:41))
                                                        td
                                                            a(href='watch.html')
                                                                i.fa.fa-video-camera
                                                    tr
                                                        th(scope='row') 7
                                                        td Ярощук Александр
                                                        td 14 (240(5:45))
                                                        td
                                                            a(href='watch.html')
                                                                i.fa.fa-video-camera
                                                    tr
                                                        th(scope='row') 8
                                                        td Виталий Виткин
                                                        td 22 (220(6:41))
                                                        td
                                                            a(href='watch.html')
                                                                i.fa.fa-video-camera
                                                    tr
                                                        th(scope='row') 9
                                                        td Алексей Царюк
                                                        td 22 (220(6:41))
                                                        td
                                                            a(href='watch.html')
                                                                i.fa.fa-video-camera
                                                    tr
                                                        th(scope='row') 10
                                                        td Ярощук Александр
                                                        td 14 (240(5:45))
                                                        td
                                                            a(href='watch.html')
                                                                i.fa.fa-video-camera
                                                    tr
                                                        th(scope='row') 11
                                                        td Виталий Виткин
                                                        td 22 (220(6:41))
                                                        td
                                                            a(href='watch.html')
                                                                i.fa.fa-video-camera
                                                    tr
                                                        th(scope='row') 12
                                                        td Алексей Царюк
                                                        td 22 (220(6:41))
                                                        td
                                                            a(href='watch.html')
                                                                i.fa.fa-video-camera
                                                    tr
                                                        th(scope='row') 13
                                                        td Ярощук Александр
                                                        td 14 (240(5:45))
                                                        td
                                                            a(href='watch.html')
                                                                i.fa.fa-video-camera
                                                    tr
                                                        th(scope='row') 14
                                                        td Виталий Виткин
                                                        td 22 (220(6:41))
                                                        td
                                                            a(href='watch.html')
                                                                i.fa.fa-video-camera
                                                    tr
                                                        th(scope='row') 15
                                                        td Алексей Царюк
                                                        td 22 (220(6:41))
                                                        td
                                                            a(href='watch.html')
                                                                i.fa.fa-video-camera
                                            nav
                                                ul.pagination
                                                    li
                                                        a(href='#', aria-label='Previous')
                                                            span(aria-hidden='true') «
                                                    li
                                                        a(href='#') 1
                                                    li
                                                        a(href='#') 2
                                                    li
                                                        a(href='#') 3
                                                    li
                                                        a(href='#') 4
                                                    li
                                                        a(href='#') 5
                                                    li
                                                        a(href='#', aria-label='Next')
                                                            span(aria-hidden='true') »
                    #week4.tab-pane(role='tabpanel')
                        .row
                            .col-md-8
                                h3
                                    | Четвертая неделя
                                    .event-part-date
                                        i.fa.fa-calendar
                                        |  08.03.15 - 15.03.15
                            .col-md-4
                                .sBtn.flRight.red.order-event-part(data-event='Reebok Crossfit Games 2014', data-event_id='3', data-event_part='Четвертая неделя', data-event_part_id='4')
                                    i.fa.fa-paper-plane-o
                                    |   Подать заявку
                        .innerTabParent(role='tabpanel')
                            ul.nav.nav-tabs(role='tablist')
                                li.active(role='presentation')
                                    a(href='#rules', aria-controls='rules', role='tab', data-toggle='tab', aria-expanded='true') Правила
                                li(role='presentation')
                                    a(href='#results', aria-controls='results', role='tab', data-toggle='tab', aria-expanded='true') Предварительные результаты
                            .tab-content
                                #rules.tab-pane.active(role='tabpanel')
                                    .row.padTop30
                                        .col-md-12
                                            .col-md-6
                                                p
                                                    span#ytplayer0.video(data-plugin='youtube', data-video='Mfweborai0o')
                                                        iframe#ytplayer0Frame(frameborder='0', allowfullscreen='1', title='YouTube video player', width='100%', height='250', src='https://www.youtube.com/embed/Mfweborai0o?enablejsapi=1&origin=http%3A%2F%2Fcfft.ru')
                                                h3 Fat Karen
                                                h4 Выполнить на время 150 бросков мяча в цель
                                                p
                                                    em Time cap 7 min
                                                p
                                                    | *Если Вы успеваете выполнить 150 бросков за 7 мин, то Time cap увеличивается на 5 мин.
                                                p Цель набрать как можно больше повторений бросков мяча.
                                            .col-md-6
                                                h3 Броски мяча в цель
                                                p
                                                    | Волл Болл, он же медицинский мяч должен находится на груди в нижней позиции фронтального приседания (ось вращения тазобедренного сустава ниже оси вращения коленного). Из этого положения бросается в цель высота, которой регламентируется Дивизионом. Центр мяча должен коснутся цели или области выше цели. Если мяч не коснулся стены или коснулся области ниже метки, то такое повторение не считается.
                                                p
                                                    em
                                                        | Если мяч упал на пол, то необходимо полностью погасить его скорость и только после этого производить взятие на грудь, то есть нельзя работать в отбив.
                                                h3 Примечания
                                                h4
                                                    | Мужчины
                                                    small включая ветеранов 40+
                                                ul
                                                    li Вес мяча 20 lbs (9 кг), 3 м высота цели
                                                h4
                                                    | Женщины
                                                    small включая ветеранов 40+
                                                ul
                                                    li Вес мяча 14 lbs (6,3 кг), 2.7 м высота цели
                                                h5 Запись результатов производится следующим образом:
                                                ul
                                                    li
                                                        | Если Вы, к примеру, за 7 мин не успели выполнить 150 бросков мяча, а выполнили всего 130, то запись в поле результат будет выглядеть следующим образом: "130(7:00)", без кавычек.
                                                p
                                                    | *Если Вы, к примеру, успели за 7 мин выполнить 150 бросков мяча и время закрытия полной Karen равно 6:45, за 12 мин Вы выполнили 200 повторений, то запись в поле результат будет выглядеть следующим образом: "200(6:45)", без кавычек
                                #results.tab-pane(role='tabpanel')
                                    .row.padTop30
                                        .col-md-12
                                            .col-md-3
                                                .form-group
                                                    label Страна:
                                                    #s2id_autogen25.select2-container.form-control
                                                        a.select2-choice(href='javascript:void(0)', tabindex='-1')
                                                            span#select2-chosen-26.select2-chosen Россия
                                                            abbr.select2-search-choice-close
                                                            span.select2-arrow(role='presentation')
                                                                b(role='presentation')
                                                        label.select2-offscreen(for='s2id_autogen26')
                                                        input#s2id_autogen26.select2-focusser.select2-offscreen(type='text', aria-haspopup='true', role='button', aria-labelledby='select2-chosen-26')
                                                        .select2-drop.select2-display-none.select2-with-searchbox
                                                            .select2-search
                                                                label.select2-offscreen(for='s2id_autogen26_search')
                                                                input#s2id_autogen26_search.select2-input(type='text', autocomplete='off', autocorrect='off', autocapitalize='off', spellcheck='false', role='combobox', aria-expanded='true', aria-autocomplete='list', aria-owns='select2-results-26', placeholder='')
                                                            ul#select2-results-26.select2-results(role='listbox')
                                                    select.form-control(tabindex='-1', title='', style='display: none;')
                                                        option(value='1') Россия
                                                        option(value='1') Украина
                                                        option(value='1') Белоруссия
                                            .col-md-3
                                                .form-group
                                                    label Город:
                                                    #s2id_autogen27.select2-container.form-control
                                                        a.select2-choice(href='javascript:void(0)', tabindex='-1')
                                                            span#select2-chosen-28.select2-chosen Москва
                                                            abbr.select2-search-choice-close
                                                            span.select2-arrow(role='presentation')
                                                                b(role='presentation')
                                                        label.select2-offscreen(for='s2id_autogen28')
                                                        input#s2id_autogen28.select2-focusser.select2-offscreen(type='text', aria-haspopup='true', role='button', aria-labelledby='select2-chosen-28')
                                                        .select2-drop.select2-display-none.select2-with-searchbox
                                                            .select2-search
                                                                label.select2-offscreen(for='s2id_autogen28_search')
                                                                input#s2id_autogen28_search.select2-input(type='text', autocomplete='off', autocorrect='off', autocapitalize='off', spellcheck='false', role='combobox', aria-expanded='true', aria-autocomplete='list', aria-owns='select2-results-28', placeholder='')
                                                            ul#select2-results-28.select2-results(role='listbox')
                                                    select.form-control(tabindex='-1', title='', style='display: none;')
                                                        option(value='1') Москва
                                                        option(value='1') Санкт-Петербург
                                                        option(value='1') Тверь
                                            .col-md-3
                                                .form-group
                                                    label Клуб:
                                                    #s2id_autogen29.select2-container.form-control
                                                        a.select2-choice(href='javascript:void(0)', tabindex='-1')
                                                            span#select2-chosen-30.select2-chosen Crossfit central
                                                            abbr.select2-search-choice-close
                                                            span.select2-arrow(role='presentation')
                                                                b(role='presentation')
                                                        label.select2-offscreen(for='s2id_autogen30')
                                                        input#s2id_autogen30.select2-focusser.select2-offscreen(type='text', aria-haspopup='true', role='button', aria-labelledby='select2-chosen-30')
                                                        .select2-drop.select2-display-none.select2-with-searchbox
                                                            .select2-search
                                                                label.select2-offscreen(for='s2id_autogen30_search')
                                                                input#s2id_autogen30_search.select2-input(type='text', autocomplete='off', autocorrect='off', autocapitalize='off', spellcheck='false', role='combobox', aria-expanded='true', aria-autocomplete='list', aria-owns='select2-results-30', placeholder='')
                                                            ul#select2-results-30.select2-results(role='listbox')
                                                    select.form-control(tabindex='-1', title='', style='display: none;')
                                                        option(value='1') Crossfit central
                                                        option(value='1') sport unlimited
                                                        option(value='1') xFit
                                            .col-md-3
                                                .form-group
                                                    label Пол:
                                                    #s2id_autogen31.select2-container.form-control
                                                        a.select2-choice(href='javascript:void(0)', tabindex='-1')
                                                            span#select2-chosen-32.select2-chosen Мужской
                                                            abbr.select2-search-choice-close
                                                            span.select2-arrow(role='presentation')
                                                                b(role='presentation')
                                                        label.select2-offscreen(for='s2id_autogen32')
                                                        input#s2id_autogen32.select2-focusser.select2-offscreen(type='text', aria-haspopup='true', role='button', aria-labelledby='select2-chosen-32')
                                                        .select2-drop.select2-display-none.select2-with-searchbox
                                                            .select2-search
                                                                label.select2-offscreen(for='s2id_autogen32_search')
                                                                input#s2id_autogen32_search.select2-input(type='text', autocomplete='off', autocorrect='off', autocapitalize='off', spellcheck='false', role='combobox', aria-expanded='true', aria-autocomplete='list', aria-owns='select2-results-32', placeholder='')
                                                            ul#select2-results-32.select2-results(role='listbox')
                                                    select.form-control(tabindex='-1', title='', style='display: none;')
                                                        option(value='1') Мужской
                                                        option(value='1') Женский
                                    .row.padTop30
                                        .col-md-12
                                            table.table
                                                thead
                                                    tr
                                                        th Место
                                                        th Атлет
                                                        th Результат
                                                        th Видео
                                                tbody
                                                    tr.warning
                                                        th(scope='row')
                                                            span.badge 1
                                                        td Андрей Ганин
                                                        td 5 (246(6:48))
                                                        td
                                                            a(href='watch.html')
                                                                i.fa.fa-video-camera
                                                    tr.success
                                                        th(scope='row')
                                                            span.badge 2
                                                        td Юрий Казаков
                                                        td 3 (266(5:57))
                                                        td
                                                            a(href='watch.html')
                                                                i.fa.fa-video-camera
                                                    tr.info
                                                        th(scope='row')
                                                            span.badge 3
                                                        td Владимир Сайдашев
                                                        td 2 (268(5:49))
                                                        td
                                                            a(href='watch.html')
                                                                i.fa.fa-video-camera
                                                    tr
                                                        th(scope='row') 4
                                                        td Ярощук Александр
                                                        td 14 (240(5:45))
                                                        td
                                                            a(href='watch.html')
                                                                i.fa.fa-video-camera
                                                    tr
                                                        th(scope='row') 5
                                                        td Виталий Виткин
                                                        td 22 (220(6:41))
                                                        td
                                                            a(href='watch.html')
                                                                i.fa.fa-video-camera
                                                    tr
                                                        th(scope='row') 6
                                                        td Алексей Царюк
                                                        td 22 (220(6:41))
                                                        td
                                                            a(href='watch.html')
                                                                i.fa.fa-video-camera
                                                    tr
                                                        th(scope='row') 7
                                                        td Ярощук Александр
                                                        td 14 (240(5:45))
                                                        td
                                                            a(href='watch.html')
                                                                i.fa.fa-video-camera
                                                    tr
                                                        th(scope='row') 8
                                                        td Виталий Виткин
                                                        td 22 (220(6:41))
                                                        td
                                                            a(href='watch.html')
                                                                i.fa.fa-video-camera
                                                    tr
                                                        th(scope='row') 9
                                                        td Алексей Царюк
                                                        td 22 (220(6:41))
                                                        td
                                                            a(href='watch.html')
                                                                i.fa.fa-video-camera
                                                    tr
                                                        th(scope='row') 10
                                                        td Ярощук Александр
                                                        td 14 (240(5:45))
                                                        td
                                                            a(href='watch.html')
                                                                i.fa.fa-video-camera
                                                    tr
                                                        th(scope='row') 11
                                                        td Виталий Виткин
                                                        td 22 (220(6:41))
                                                        td
                                                            a(href='watch.html')
                                                                i.fa.fa-video-camera
                                                    tr
                                                        th(scope='row') 12
                                                        td Алексей Царюк
                                                        td 22 (220(6:41))
                                                        td
                                                            a(href='watch.html')
                                                                i.fa.fa-video-camera
                                                    tr
                                                        th(scope='row') 13
                                                        td Ярощук Александр
                                                        td 14 (240(5:45))
                                                        td
                                                            a(href='watch.html')
                                                                i.fa.fa-video-camera
                                                    tr
                                                        th(scope='row') 14
                                                        td Виталий Виткин
                                                        td 22 (220(6:41))
                                                        td
                                                            a(href='watch.html')
                                                                i.fa.fa-video-camera
                                                    tr
                                                        th(scope='row') 15
                                                        td Алексей Царюк
                                                        td 22 (220(6:41))
                                                        td
                                                            a(href='watch.html')
                                                                i.fa.fa-video-camera
                                            nav
                                                ul.pagination
                                                    li
                                                        a(href='#', aria-label='Previous')
                                                            span(aria-hidden='true') «
                                                    li
                                                        a(href='#') 1
                                                    li
                                                        a(href='#') 2
                                                    li
                                                        a(href='#') 3
                                                    li
                                                        a(href='#') 4
                                                    li
                                                        a(href='#') 5
                                                    li
                                                        a(href='#', aria-label='Next')
                                                            span(aria-hidden='true') »
