block footer
   .page-footer
      .big-content-wrapper
         .bot_bg.bot_position
            .container
               #footer_logo.logo
                  | c
                  span.redLogo ff
                  | t.ru
               #bot-main-menu.main-menu-wrapper
                  ul.main-menu
                     li &#1043;&#1083;&#1072;&#1074;&#1085;&#1072;&#1103;
                     li &#1054;&#1073;&#1086; &#1084;&#1085;&#1077;
                     li &#1052;&#1077;&#1088;&#1086;&#1087;&#1088;&#1080;&#1103;&#1090;&#1080;&#1103;
                     li &#1042;&#1080;&#1076;&#1077;&#1086;
                     li Crossfit
                     li &#1048;&#1075;&#1088;&#1099;
                     li &#1042;&#1086;&#1081;&#1090;&#1080;