extends layout
block content
    .page-content
        .row
            .col-md-12
                .main-slider-wrapper-new.col-md-9.container.noPad
                    .main-slider-view
                        .main-slider-controls
                            .main-slider-slide-left
                                i.fa.fa-angle-left
                            .main-slider-dots-wrapper
                                ul.dots
                                    li
                                        i.fa.fa-circle
                                    li
                                        i.fa.fa-circle
                                    li
                                        i.fa.fa-circle
                            .main-slider-slide-right
                                i.fa.fa-angle-right
                        ul.main-slider(data-shift="0")
                            li.slide
                                img(src="img/slide1.jpg")
                                //.slide-text Lorem ipsum dolor sit!
                            li.slide
                                img(src="img/slide2.jpg")
                                //.slide-text Lorem ipsum dolor sit!
                            li.slide
                                img(src="img/slide3.jpg")
                                //.slide-text Lorem ipsum dolor sit!
                .nearrest-wow-event-wrapper.noPad.col-md-3
                    .nearrest-wow-header
                        | Wod of week
                        .nearrest-wow-from-to-date
                            | с 7.02 по 14.02 2015
                    .nearrest-wow-content
                        .nearrest-wow-timer
                            | До начала осталось:
                            br
                            .nearrest-wow-timer-row
                                .tblc.days
                                    |4
                                |дня
                                .tblc.hours
                                    |20
                                |часа
                                .tblc.mins
                                    |54
                                |мин
                                .tblc.secs
                                    |44
                                |сек
                        .nearrest-wow-exercises
                            | 3 rounds for time
                            br
                            | 10 pull-ups
                            br
                            | 10 burpees
                    .nearrest-wow-order
                        i.fa.fa-flag &nbsp;&nbsp;
                        | Принять участие
        //.container.adv-block
        //    .row
        //        .col-md-4
        //            h3 Скажи плиз
        //            p advertisment text block
        //        .col-md-4
        //            h3 что тут
        //            p advertisment text block
        //        .col-md-4
        //            h3 разместить?
        //            p advertisment text block
        .container.marBot30
            .row
                .col-md-3.noPad
                    .calendar-title
                        | Календарь событий
                    .calendar-wrapper
                .col-md-9.noPad
                    .leaderboard-wrapper
                        .col-md-6.noPad
                            .leaderboard-title
                                | Мужчины
                            ul.leaderboard-content
                                li
                                    .leader-photo
                                        img(src="img/user_m_1.jpg")
                                    .leader-name
                                        | Андрей Ганин
                                    .leader-rating
                                        | 259
                                li
                                    .leader-photo
                                        img(src="img/user_m_2.jpg")
                                    .leader-name
                                        | Юрий Казаков
                                    .leader-rating
                                        | 213
                                li
                                    .leader-photo
                                        img(src="img/user_m_3.jpg")
                                    .leader-name
                                        | Владимир Сайдашев
                                    .leader-rating
                                        | 188
                                li
                                    .leader-photo
                                        img(src="img/user_m_4.jpg")
                                    .leader-name
                                        | Николай Петров
                                    .leader-rating
                                        | 170
                                li
                                    .leader-photo
                                        img(src="img/user_m_5.jpg")
                                    .leader-name
                                        | Сергей Ватутенко
                                    .leader-rating
                                        | 151
                        .col-md-6.noPad
                            .leaderboard-title
                                | Женщины
                            ul.leaderboard-content
                                li
                                    .leader-photo
                                        img(src="img/user_f_1.jpg")
                                    .leader-name
                                        | Оксана Пикмулова
                                    .leader-rating
                                        | 311
                                li
                                    .leader-photo
                                        img(src="img/user_f_2.jpg")
                                    .leader-name
                                        | Анна Алмазова
                                    .leader-rating
                                        | 223
                                li
                                    .leader-photo
                                        img(src="img/user_f_3.jpg")
                                    .leader-name
                                        | Ульяна Гребенщикова
                                    .leader-rating
                                        | 197
                                li
                                    .leader-photo
                                        img(src="img/user_f_4.jpg")
                                    .leader-name
                                        | Елена Кожухова
                                    .leader-rating
                                        | 162
                                li
                                    .leader-photo
                                        img(src="img/user_f_5.jpg")
                                    .leader-name
                                        | Ольга Орлова
                                    .leader-rating
                                        | 157
                        //.col-md-4.noPad
                        //    .leaderboard-title
                        //        | Чемпионы
                        //    ul.leaderboard-content

        .adv-block-wrapper
            div
                .container.padTop30
                    .row
                        .col-md-9
                            .adv-bunner-wrapper
                                img(src="img/adv_bunner_big.jpg")
                        .col-md-3
                            .adv-bunner-wrapper
                                img(src="img/adv_bunner.jpg")


    //.page-content
    //    .main-slider-wrapper.big-content-wrapper
    //        .fadeLeft
    //        .main-slider-view
    //            .main-slider-slide-left
    //                i.fa.fa-angle-left
    //            .main-slider-slide-right
    //                i.fa.fa-angle-right
    //            .main-slider-dots-wrapper
    //            ul.main-slider(data-shift="0")
    //                li.slide
    //                    img(src="img/slide1.jpg")
    //                    .slide-text Lorem ipsum dolor sit!
    //                li.slide
    //                    img(src="img/slide2.jpg")
    //                    .slide-text Lorem ipsum dolor sit!
    //                li.slide
    //                    img(src="img/slide3.jpg")
    //                    .slide-text Lorem ipsum dolor sit!
    //        .fadeRight
        .adv-block-wrapper.big-content-wrapper
            .fadeLeft
            .fadeRight
            .bot_bg
                .container.padTop40
                    .pr33.flLeft.adv-item
                        img(src="img/adv1.jpg")
                        .adv-item-title
                            | Advertisement block 1
                            .adv-item-angle
                    .pr33.flLeft.adv-item
                        img(src="img/adv2.jpg")
                        .adv-item-title
                            | Advertisement block 1
                            .adv-item-angle
                    .pr33.flLeft.adv-item
                        img(src="img/adv3.jpg")
                        .adv-item-title
                            | Advertisement block 1
                            .adv-item-angle
                    .promo-wrapper
                        .promo-text
                            | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                            | industry"s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                            | scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
                            | electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release
                            | of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software
                            | like Aldus PageMaker including versions of Lorem Ipsum.
                        .promo-text
                            .row.marBot10
                                .col-md-9.marTop22.fs-16
                                    | &#1061;&#1086;&#1095;&#1077;&#1096;&#1100; &#1087;&#1086;&#1090;&#1077;&#1088;&#1103;&#1090;&#1100; &#1083;&#1080;&#1096;&#1085;&#1080;&#1081; &#1074;&#1077;&#1089;, &#1085;&#1072;&#1073;&#1088;&#1072;&#1090;&#1100; &#1084;&#1099;&#1096;&#1077;&#1095;&#1085;&#1091;&#1102; &#1084;&#1072;&#1089;&#1089;&#1091;, &#1089;&#1090;&#1072;&#1090;&#1100; &#1089;&#1080;&#1083;&#1100;&#1085;&#1077;&#1077;?
                                .col-md-3
                                    .sBtn.red.flRight.btn_want-to-train &#1061;&#1086;&#1095;&#1091; &#1090;&#1088;&#1077;&#1085;&#1080;&#1088;&#1086;&#1074;&#1072;&#1090;&#1100;&#1089;&#1103;
        .container.padTop40.marBot30
            .row
                .col-md-3
                    .article-item-wrapper
                        .article-item-img-wrapper
                            img(src="img/article1.jpg")
                        .article-item-title.red-mid-header
                            | Letraset sheets
                        .article-item-text.text
                            | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                            | industry"s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                            | scrambled it to make a type specimen book.
                .col-md-3
                    .article-item-wrapper
                        .article-item-img-wrapper
                            img(src="img/article2.jpg")
                        .article-item-title.red-mid-header
                            | Letraset sheets
                        .article-item-text.text
                            | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                            | industry"s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                            | scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into
                            | electronic typesetting, remaining essentially unchanged.
                .col-md-3
                    .article-item-wrapper
                        .article-item-img-wrapper
                            img(src="img/article3.jpg")
                        .article-item-title.red-mid-header
                            | Letraset sheets
                        .article-item-text.text
                            | Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                            | industry"s standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
                            | scrambled it to make a type specimen book. It has survived not only five centuries.
                .col-md-3
                    .event-list-wrapper
                        .event-list-header
                            .event-list-header-title
                                i.fa.fa-calendar.posRel
                                    i.fa.fa-circle-o.whats_next_lil_icon
                                | &#1063;&#1090;&#1086; &#1076;&#1072;&#1083;&#1100;&#1096;&#1077;?
                        .event-list-content
                            ul.event-list-items
                                li
                                    .event-list-item-date-wrapper
                                        .event-list-item-date-day 23
                                        .event-list-item-date-mth &#1092;&#1077;&#1074;
                                    .event-list-item-title
                                        | Mass workout at fatherland defender day
                                li
                                    .event-list-item-date-wrapper
                                        .event-list-item-date-day 08
                                        .event-list-item-date-mth &#1084;&#1072;&#1088;
                                    .event-list-item-title
                                        | Womans day workout, girls only
                                li
                                    .event-list-item-date-wrapper
                                        .event-list-item-date-day 01
                                        .event-list-item-date-mth &#1103;&#1085;&#1074;
                                    .event-list-item-title
                                        | New years party-workout with Santa!
                                li
                                    .event-list-item-date-wrapper
                                        .event-list-item-date-day 12
                                        .event-list-item-date-mth &#1103;&#1085;&#1074;
                                    .event-list-item-title
                                        | First work day of year workout
                        .event-list-footer
                            | &#1055;&#1086;&#1089;&#1084;&#1086;&#1090;&#1088;&#1077;&#1090;&#1100; &#1074;&#1089;&#1077; &#1084;&#1077;&#1088;&#1086;&#1087;&#1088;&#1080;&#1103;&#1090;&#1080;&#1103;
        .promo-wrapper.big-content-wrapper
            .fadeLeft
            .fadeRight
            .bg3
                .container.padTop30.padBot30
                    .row
                        .col-md-6
                            .promo-big-text.ta-left
                                | &#1093;&#1086;&#1095;&#1077;&#1096;&#1100; &#1089;&#1090;&#1072;&#1090;&#1100; &#1089;&#1080;&#1083;&#1100;&#1085;&#1077;&#1077; &#1080;
                                br
                                | &#1085;&#1072;&#1081;&#1090;&#1080; &#1077;&#1076;&#1080;&#1085;&#1086;&#1084;&#1099;&#1096;&#1083;&#1077;&#1085;&#1085;&#1080;&#1082;&#1086;&#1074;?
                                br
                                br
                                | &#1087;&#1086;&#1089;&#1077;&#1090;&#1080; &#1086;&#1076;&#1085;&#1086; &#1080;&#1079;
                                span.red
                                    | &#1085;&#1072;&#1096;&#1080;&#1093;
                                    br
                                    | &#1084;&#1077;&#1088;&#1086;&#1087;&#1088;&#1080;&#1103;&#1090;&#1080;&#1081;
                                | &#1087;&#1086;
                                br
                                | &#1082;&#1088;&#1086;&#1089;&#1089;&#1092;&#1080;&#1090;&#1091;
                        .col-md-6
                            .promo-big-text.ta-right
                                | &#1090;&#1088;&#1077;&#1085;&#1080;&#1088;&#1091;&#1081;&#1089;&#1103; &#1074; &#1079;&#1072;&#1083;&#1077;
                                br
                                | &#1080;&#1083;&#1080; &#1076;&#1086;&#1084;&#1072;
                                br
                                br
                                | &#1074;&#1099;&#1073;&#1077;&#1088;&#1080; &#1074;&#1072;&#1088;&#1080;&#1072;&#1085;&#1090; &#1076;&#1083;&#1103;
                                br
                                | &#1089;&#1077;&#1073;&#1103;,
                                span.red
                                    | &#1085;&#1072;&#1095;&#1085;&#1080; &#1087;&#1088;&#1103;&#1084;&#1086;
                                    br
                                    | &#1089;&#1077;&#1081;&#1095;&#1072;&#1089;
                        .row
                            .col-md-12
                                .col-md-6
                                    .sBtn.red.btn_find-event.wid50pr &#1053;&#1072;&#1081;&#1090;&#1080; &#1084;&#1077;&#1088;&#1086;&#1087;&#1088;&#1080;&#1103;&#1090;&#1080;&#1077;
                                // <div class="col-md-6">
                                .col-md-3
                                    .sBtn.red.btn_find-club.wid100pr &#1053;&#1072;&#1081;&#1090;&#1080; &#1079;&#1072;&#1083;
                                .col-md-3
                                    .sBtn.yellow.btn_to-online-games.wid100pr &#1054;&#1085;&#1083;&#1072;&#1081;&#1085; &#1080;&#1075;&#1088;&#1099;
                                // </div>
        .adv-block-wrapper
            div
                .container.padTop30
                    .row.padBot30
                        .col-md-4
                            .filled-video
                                img(src="img/video1.jpg")
                        .col-md-4
                            .filled-video
                                img(src="img/video2.jpg")
                        .col-md-4
                            .filled-video
                                img(src="img/video3.jpg")
                    .row
                        .col-md-9
                            .adv-bunner-wrapper
                                img(src="img/adv_bunner_big.jpg")
                        .col-md-3
                            .adv-bunner-wrapper
                                img(src="img/adv_bunner.jpg")
